langchain==1.0.5
langchain-core==1.0.5
langchain-openai==1.0.2
langchain-community==0.4.1
langchain-text-splitters==1.0.0

qdrant-client==1.10.1
python-dotenv==1.2.1
duckduckgo-search==8.1.1
ddgs==9.9.0

unstructured==0.15.8
pypdf==4.2.0
tiktoken==0.7.0

openai>=1.109.1
